<!DOCTYPE html>
<head>
    <style>
        body{
            background-color: black;
        }
        .main{
            color: white;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
        }
    </style>

</head>
<body>
    <div class="main">
    <h2>Contact us</h2>
    <P>EMAIL</P>
    <P>vikramgnanasekaran2@gmail.com</P>
    <P>MOBILE NO</P>
    <P>+91 9360324195</P>
    </div>
</body>
</html>


